*{
    padding: 0;
    margin: 0;
}
body{
    background-color:  rgb(37, 36, 36);
}
header{
    position: fixed;
    background: 0.5rem 1.5rem rgb(37, 36, 36);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
    box-shadow: 0.5rem 1.5rem rgba(0,0,0,.1);
    width: 100%;
}
header h1{
    color: #fff;
    font-size: 30px;
    font-weight: bolder;
    padding-left: 10vh;
   margin-right: 25vh;

  }
  header .navbar a{
    font-size: 1.7rem;
   border-radius: .5rem;
   padding: .5rem 1.5rem;
   color: white;
  }
  header .navbar a:hover{
    color: white;
    background-color:rgba(139, 189, 209, 0.87);
  }
  header  .icons i,
  header .icons a{
    cursor: pointer;
    margin-right: 10vh;
    height: 50PX;
    line-height: 50PX;
    width: 50PX;
    text-align: center;
    font-size: 1.7REM;
    color: white;
    border-radius:60%;
    background: rgba(139, 189, 209, 0.87);
    transition: 3ms linear ;
 
  }
  header  .icons i:active,
  header .icons a:active{
    color: rgba(139, 189, 209, 0.87);
    background-color: white;
    transform: rotate(360deg);
  }
  header  .icons #menu-bars{
    display: none;
  }
  a{
        text-decoration: none;
    }
.bloc{
    width: 150vh;
    height: 80vh;
   margin-top: 15vh;
    margin-left: 20vh;
    margin-right: 20vh;
    border-radius: 10VH;
    border-top: 1VH solid gainsboro;
    border-bottom: 1vh solid gainsboro;
    border-left: 5vh solid gainsboro;
    border-right: 5vh solid gainsboro;
    
}



.parag{
    margin-top: 15vh;
    margin-left: 10vh;
    border-right: 2px solid whitesmoke;
    width: 120vh;
    height: 60vh;
    background-color: gainsboro;
    margin-right: 9vh;
    

}
.titre{
    color:black;
    padding: 5vh 5vh 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
   color: black;
   font-size: 4vh;
padding: 5vh;
}


.element{
   
    margin-left: 140vh;
    margin-top: -60vh;
    display: flex;
    margin-bottom: 10vh;
    
}
.container{
    width: 90px;
    height: 15px;
    display: flex;
    margin: 0vh 0vh 0vh 50vh;
}
.nature{
width:  30vh;
height: 12vh;
background-color: rgba(0,0,0,.1);

    margin:  5vh;
    border-radius: 10vh;
    padding-bottom: 10px;
    color: white;
}
.color{
    color: white;
}
@media screen and(min-width:60%) {
    .bloc{
        font-size: 80VH;
    }
}